
@import "./variables";

.page-icon{
    color: white;
    font-family: 'Bungee Shade', cursive;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.container{
    padding-right: $spacer-m;
    padding-left: $spacer-m;
    max-width: 768px;
    margin-left: auto;
    margin-right:auto;
}