@import "./variables";


//link
@mixin btn-link{
  text-decoration: none;
  cursor: pointer;
  @include text-light();
  &:hover{
      text-decoration: none;
      @include text-light();
  }
  &:visited{
    @include text-light();
  }
}

//spaces
@function spacers($key: "s") {
    @return map-get($spacers, $key);
}
@mixin px($size) {
    padding-left: spacers($size);
    padding-right: spacers($size);
}
@mixin py($size) {
    padding-top: spacers($size);
    padding-bottom: spacers($size);
}
//border-radius
@mixin border-radius($key:10px){
    border-radius: $key;
}
//shadown
@mixin box-shadow{
    box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}

//typo
@mixin text-light{
    color:white !important;
}