@import "./variables";

.nav-bar {
  background-color: #667eea;
  position: sticky;
  top: 0;
  padding-left: $spacer-m;
  padding-right: $spacer-m;
  height: $nav_height;
  display: grid;
  align-content: center;
  grid-template-columns: 200px auto;
  nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    a {
      color: white;
      cursor: pointer;
      padding: $spacer-s;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
