@import "./variables";
@import "./mixins";

.app-nav{
    &.show-nav{
        nav{
    top: 0;
    position: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    }
    }
    nav {
        display: none;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }

    .nav-bar {
        .nav-toggle{
            justify-self: end;
            @include btn-link();
        }
  position: absolute;
  top:0;
  width: 100%;
  padding-left: $spacer-m;
  padding-right: $spacer-m;
  height: $nav_height;
  display: grid;
  align-content: center;
  grid-template-columns: 200px auto;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

}


