@import "./variables";
@import "./mixins";

.app-nav{
    .page-icon {
         @include text-light();
        font-family: 'Bungee Shade', cursive;
        &:hover{
            text-decoration: none;
            color: white;
        }
    }
    .nav-page-title{
         font-family: 'Pattaya', sans-serif;
         @include text-light();
         font-size: 1.2rem;
    }
    .app-nav-panel{
                position:fixed;
                top: 0;
                width: 100vw;
                height: 100vh;
                background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                display: grid;
                justify-content: center;
                &__close{
                    justify-self: end;
                    @include btn-link();
                    position:fixed;
                    top:0;
                    right:0;
                    padding:10px;
                }
                nav {
                        display: grid;
                        justify-content: center;
                        align-content: center;
                        text-align: center;
                        .nav-item{
                            @include btn-link();
                            @include py(3);
                    }
                }
    }


    .nav-bar {
        .nav-toggle{
            justify-self: end;
            @include btn-link();
        }
        position: absolute;
        top:0;
        width: 100%;
        padding-left: $spacer-m;
        padding-right: $spacer-m;
        height: $nav_height;
        display: grid;
        align-content: center;
        grid-template-columns: 200px auto;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

}


