@import "./mixins";

#reading-helper-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #667eea;
  @include box-shadow();
  z-index: 2;
  display: grid;
  align-content: center;
  justify-content: center;
  @include text-light();
}
.reading-action-wrapper{
    #reading-helper-action{
        .icon-hide{
            display: block;
        }
        .icon-show{
            display: none;
        }
    }

    .reading-action-menu {
        overflow-y: auto;
        width: 400px;
        height: calc(100vh - 90px);
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        z-index: 1;
        border-radius: 30px;
        @include box-shadow();
        & > ol{
          list-style: none;
          @include px(4);
          @include py(4);
          li {
            @include py(3);
            ol{
              @include py(1);
              li{
                @include py(1);
              }
            }
            a {
              text-decoration: none;
              cursor: pointer;
              color: white;
              &:visited {
                color: white;
              }
            }
          }
        }
      }
    &.hide{
        .reading-action-menu{
            visibility: hidden;
        }
        #reading-helper-action{
            .icon-hide{
                display: none;
            }
            .icon-show{
                display: block;
            }
        }
    }
}

