#reading-helper-action{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #667eea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}
.reading-action-menu{
    &.show{
        width: 400px;
        height: 80vh;
        position: fixed;
        bottom:20px;
        right: 20px;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        z-index: 1;
        border-radius: 30px;
    }
}