//Nav
$nav_height:50px !default;

//Spacers
$spacer-base:5px;
$spacer-s: $spacer-base*1;
$spacer-m: $spacer-base*2;
$spacer-l: $spacer-base*3;
$spacer-xl: $spacer-base*4;
$spacer-xxl: $spacer-base*5;