@import "./bootstrap";

@import "./nav";

//Pages
@import "./layout";
@import "./landing";

//Typepo
@import "./font";
@import "./typo";

//Components
@import "./button";
@import "./reading-helper";
@import "./post-card";
@import "./post";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.3rem;
}